$black-primary: #15161D;
$black-light: #1E1F29;
$white: #fff;
$white-light: #B9BABC;
$red-primary: #D10024;
$red-light: #D31737;
$red-very-light: #FBEBED;
$grey: #ddd;
$grey-dark: #2d2d42;
$grey-medium: #767676;
$grey-light: #fafafa;
$grey-primary: #f5f5f5;
$grey-text-light: #555555;